<div class="container">
  <h3 class="text-center text-bold">Login</h3>
  <form [formGroup]="miFormulario" (ngSubmit)="mostrar()">
    <div class="flex flex-column justify-content-center align-items-center">
      <div class="field col-12 md:col-4 m-2">
        <span class="p-float-label w-full">
          <input type="text" id="emailTxt" formControlName="email" pInputText />
          <label for="emailTxt">Email</label>
        </span>
        <div class="col-auto">
          <span
            class="text-red-500 mt-2"
            error-msg
            mensaje="Email Incorrecto"
            [valido]="!tieneError('email')"
          >
          </span>
        </div>
      </div>
      <div class="field col-12 md:col-4 m-2">
        <span class="p-float-label w-full">
          <input
            type="password"
            id="passwordTxt"
            formControlName="password"
            pInputText
          />
          <label for="passwordTxt">Password</label>
        </span>
        <div class="col-auto">
          <span
            error-msg
            class="text-red-500 mt-2"
            mensaje="Password Incorrecto"
            [valido]="!tieneError('password')"
          >
          </span>
        </div>
      </div>
      <button
        pButton
        pRipple
        [disabled]="miFormulario.invalid"
        type="submit"
        label="Loguearse"
        class="p-button-rounded p-button-danger m-1"
      ></button>
    </div>
    <p-toast position="bottom-center"></p-toast>
  </form>
  <hr />
  <a class="no-underline m-3" routerLink="/auth/register"
    ><h5 class="text-center font-bold">No tienes cuenta?Click aqui</h5></a
  >
</div>
