<p-menubar class="col-12 p-0" [model]="items">
  <ng-template pTemplate="end">
    <div class="flex">
      <p-autoComplete [(ngModel)]="termino" 
      [suggestions]="(productos | async)!"
      field="name"
      (completeMethod)="filterProduct($event)"
      class="mx-2">
        <ng-template let-product pTemplate="item">
            <div class="flex h-3 w-3"
            [routerLink]="['/detail', product._id]"
            >
                <img [src]="product.img" class="w-3" />
                <div class="flex justify-content-center align-items-center font-bold
                text-overflow-clip">{{product.nombre}}</div>
            </div>
        </ng-template>
    </p-autoComplete>
      <div *ngIf="token$ | async" class="flex justify-content-center mt-2 mx-2"
      >
        <i
        class="pi pi-shopping-cart mr-4 p-text-secondary"
        pBadge
        style="font-size: 2rem"
        [value]="shopping.length.toString()"
        routerLink="/shoppingCart"
       ></i>
      </div>
      <div *ngIf="token$ | async; else divLogued" class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="pi pi-user"></i>
        </button>
        <ul class="dropdown-menu m-1" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item p-1" routerLink="/favoritos">Favoritos</a>
          </li>
          <li><a class="dropdown-item p-1" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <ng-template class="dropdown" #divLogued>
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="pi pi-user"></i>
        </button>
        <ul class="dropdown-menu m-1" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item p-1" [routerLink]="['/auth']"
              >Iniciar Sesion</a
            >
          </li>
          <li>
            <a class="dropdown-item p-1" [routerLink]="['/auth/register']"
              >Registrarme</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>
