<p-menubar class="col-12 p-0" [model]="items">
  <ng-template pTemplate="end">
    <div class="flex">
      <div></div>
      <input class="mr-3" type="text" pInputText placeholder="Search" />
      <div *ngIf="token$ | async; else divLogued" class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="pi pi-user"></i>
        </button>
        <ul class="dropdown-menu m-1" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item p-1" routerLink="/favoritos">Favoritos</a>
          </li>
          <li><a class="dropdown-item p-1" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <ng-template class="dropdown" #divLogued>
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="pi pi-user"></i>
        </button>
        <ul class="dropdown-menu m-1" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item p-1" [routerLink]="['/auth']"
              >Iniciar Sesion</a
            >
          </li>
          <li>
            <a class="dropdown-item p-1" [routerLink]="['/auth/register']"
              >Registrarme</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </ng-template>
</p-menubar>
