<p-carousel
  [value]="productos"
  styleClass="custom-carousel"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="header">
    <h5 class="text-center fadeinleft animation-duration-1000">Algunas de nuestras prendas</h5>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item scalein animation-duration-1000 animation-delay-600">
      <div class="product-item-content">
        <div class="mb-3">
          <img
            src="{{ product.img }}"
            [alt]="product.nombre"
            class="product-image"
          />
        </div>
        <div>
          <h4 class="mb-1">{{ product.nombre }}</h4>
          <h6 class="mt-0 mb-3">${{ product.precio }}</h6>
          <div class="car-buttons mt-5">
            <p-button
              type="button"
              styleClass="p-button p-button-rounded mr-2"
              [routerLink]="['/detail',product._id]"
              icon="pi pi-search"
            ></p-button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-star-fill"
              class="p-button-rounded p-button-success mx-2"
              (click)="addFavorite(product._id)"
            ></button>
            <p-button
              type="button"
              styleClass="p-button-help p-button-rounded"
              icon="pi pi-cog"
            ></p-button>
            
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
